.add-word {
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-word--title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 100px;
  color: #0000ffff;
}

.ant-form {
  width: 50vw;
  margin: auto;
}
.ant-row {
  margin-bottom: 20px;
}
.ant-col {
  text-align: center;
}
